<html>
	<head>
		<title>Generador de escala de notas</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<link href="escala.css" media="screen" rel="stylesheet" type="text/css">
		<link rel="icon" type="image/png" href="favicon.png">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
		<script src="escala.js" type="text/javascript"></script>
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-11840444-3']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</head>
	<body>
		<div id="fb-root"></div>
		<div id="header">
			<div class="check"><img src="check.png"></div>
			Generador de escala de notas
			<span id="autor">de <a href="http://pumarino.org/">Juan Ignacio Pumarino</a></span>
			<div id="redes-sociales">
				<div class="fb-like" data-href="http://escaladenotas.cl" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://escaladenotas.cl" data-lang="es">Twittear</a>
				<div class="g-plusone" data-href="http://escaladenotas.cl" data-size="medium"></div>
			</div>
		</div>
	       
		<form id="formulario" method="get">
			<table>
				<tr><td>Nota mínima</td><td><input type="text" name="nmin" value="<%=params[:nmin] %>"></td>
				<tr><td>Nota máxima</td><td><input type="text" name="nmax" value="<%=params[:nmax] %>"></td></tr>
				<tr><td>Nota aprobación</td><td><input type="text" name="napr" value="<%=params[:napr] %>"></td></tr>
				<tr><td>Exigencia</td><td><input type="text" name="exig" value="<%=params[:exig] %>"></td></tr>
				<tr><td>Puntaje máximo</td><td><input type="text" name="pmax" value="<%=params[:pmax] %>"></td></tr>
				<tr><td>Paso</td><td><input type="text" name="paso" value="<%=params[:paso] %>"></td></tr>
			</table>
			<input type="submit" value="Generar tabla"/></div>
		</form>

		<div id="main">
			<% @notas.each do |nota|%>
				<% i=0 %>
				<table class="escala">
					<tr><th>Puntaje</th><th>Nota</th></tr>
					<% nota.each do |n| %>
						<tr class="<%= %w(odd even)[(i+=1)%2] %>">
							<td><%= n.first %></td>
							<td class="<%= (n.last*10).round/10.0 < params[:napr] ? 'rojo' : '' %>">
								<%= (n.last*10).round/10.0 %>
							</td>
						</tr>
					<% end %>
				</table>
			<% end %>
		</div>

		<a href="http://itunes.apple.com/" target="_blank" id="app_store_link">
	  	<img src="app_store_image.png">
		</a>

	</body>
</html>
